*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

background:linear-gradient(
135deg,
#4c6ef5,
#6c63ff,
#7b2cbf
);

display:flex;
justify-content:center;
align-items:center;

padding:30px;
}

.container{

width:100%;
max-width:1200px;

display:flex;
gap:30px;
flex-wrap:wrap;
justify-content:center;
}

.box{

background:white;

width:500px;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{

text-align:center;

color:gold;

font-size:32px;

font-weight:700;

margin-bottom:20px;
}

h2{

text-align:center;

color:#333;

margin-bottom:20px;

font-size:28px;
}

input{

width:100%;

padding:14px;

margin-bottom:15px;

border:1px solid #ccc;

border-radius:10px;

font-size:16px;
}

.addBtn{

width:100%;

padding:14px;

background:#16a34a;

color:white;

border:none;

border-radius:10px;

font-size:18px;

font-weight:600;

cursor:pointer;
}

.addBtn:hover{

background:#15803d;
}

table{

width:100%;

border-collapse:collapse;

margin-top:15px;
}

th{

background:#4338ca;

color:white;

padding:12px;
}

td{

padding:12px;

text-align:center;

border-bottom:1px solid #ddd;
}

.deleteBtn{

background:red;

color:white;

border:none;

padding:8px 12px;

border-radius:8px;

cursor:pointer;
}

#noResult{

display:none;

text-align:center;

color:red;

font-size:18px;

font-weight:600;

margin-top:15px;
}

.countBox{

margin-top:20px;

background:#16a34a;

color:white;

padding:12px;

border-radius:10px;

text-align:center;

font-size:20px;

font-weight:600;
}